services:
  spring:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: crudcloud_backend
    volumes:
      - /root/configCrudclaud/application.properties:/app/config/application.properties
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    expose:
      - "8080"
    ports:
      - "127.0.0.1:8080:8080"
    restart: always
    networks:
      - app_net

networks:
  app_net:
    external: true

